build/
dist/
venv/
.venv/
**/*.spec
**/__pycache__
**/**/__pycache__
temp.jpg
convert2Ascii/assets/
convert2Ascii/build/
convert2Ascii/dist/
convert2Ascii/*.spec 
convert2Ascii/data/*.spec
convert2Ascii/temp.jpg
convert2Ascii/__pycache__
convert2Ascii/.pytest_cache
convert2Ascii/data/__pycache__/

